<%- include('../../partials/header') %>
    <%- include('../../partials/navbar') %>

        <div class="main container d-flex justify-content-center">
            <div class="col-12 col-md-8 my-4">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary text-white">
                        Nova categoria
                    </div>
                    <div class="card-body">
                        <form action="/admin/categories/save" method="POST">
                            <div class="mb-3">
                                <label for="title" class="form-label">Categoria</label>
                                <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp">
                                <div id="titleHelp" class="form-text">A categoria será exibida para os leitores do blog.</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer') %>