<nav class="sidebar">
    <ul class="nav flex-column pt-4">
        <li class="nav-item">
            <a class="nav-link text-white d-flex" href="/"> 
                <i class="bx bx-heart-circle fs-4"></i> &nbsp; Posts 
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex" href="#"> 
                <i class="bx bx-tag fs-4"></i> &nbsp; Categorias 
            </a>
        </li>
    </ul>
</nav>