.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}

.sidebar .nav-link:hover {
    background: var(--bs-light);
    color: #1a1a2e !important;
}

#sidebar {
    background: #1a1a2e;
}

#content{
    max-height: 100vh !important;
}

.h-100 {
    min-height: 100vh !important;
}

.scroll-show{
    overflow: scroll;
}

@media only screen and (max-width: 768px) {
   #sidebar{
       height: 100% !important;
   }
   ul.nav.flex-column{
       padding: 0.5rem !important;
       flex-direction: row !important;
   }
}